.container {
  margin: 24px auto 0;
  padding: 52px 30px;
  border: 1px solid #444;
  border-radius: 8px;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 600px;
  white-space: pre-line;
}

.text {
  color: #ddd;
  font-size: 16px;
  white-space: pre-line;
}

.buttonWrapper {
  width: 500px;
  margin-top: 20px;
  display: flex;
  gap:10px;
  @media(max-width:768px){
    flex-direction: column;
    width:200px;
    gap:14px;
  }
}
