.testCard {
  border:2px solid var(--color-border); 
  border-radius: 16px;
  padding:4px 0;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.testCardTag{
  position: absolute;
  top:6px;
  right:6px;
  width:24px;
  height:24px;
  cursor: pointer;
}

.testCardTag.isActive{
  color:var(--color-primary);
}

.testCardQuestion,
.testCardAnswer {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--font-primary);
  padding:24px 0;
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.testCardAnswer{
  border-left:2px dashed var(--color-border);
}

.testToggleButton {
  padding: 8px 16px;
  background: var(--color-primary);
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


