.userCard {
  background: #1f1f1f;
  border-radius: 16px;
  width: 100%;
  margin: 0 auto;
  box-shadow:
    0 3px 10px rgba(0, 0, 0, 0.7),
    0 0 0 1px rgba(255, 255, 255, 0.12);
  margin-top: 20px;
  padding: 60px 52px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    padding: 30px 20px;
  }
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header svg {
  font-size: 32px;
}

.userName {
  font-size: 18px;
  font-weight: bold;
}

/* Stats */
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  background: #222;
}

.statItem {
  background: #111;
  padding: 18px 12px 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
  font-size: 18px;
  color: #ff9f1c;
}

.statValue {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.statLabel {
  font-size: 11px;
  color: #aaa;
}

/* Body */
.body {
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0;
  }
}

.label {
  font-size: 12px;
  color: #aaa;
}

.value {
  font-size: 14px;
  color: #ffffff;
  word-break: break-all;
}

/* Footer */
.footer {
  margin-top: 20px;
}
