.streakCardLink:hover .streakCardDays {
  transform: scale(1.08);
  transition: 0.3s all ease;
}

.streakCard {
  width: 100%;
  border: 2px solid var(--color-border);
  margin-top: 20px;
  border-radius: 12px;
}

.streakCardDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  gap: 12px;
  padding: 30px 10px;
  justify-items: center;
  max-width: 540px;
  margin: 0 auto;
  @media (max-width: 768px) {
    gap: 0;
  }
}

.streakItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  @media (max-width: 768px) {
    padding: 8px 0;
    font-size:14px;
  }
}

/* 今日の日にち */
.streakItem.isToday {
  background-color: var(--color-primary);
  border-radius: 30px;
}

.streakDot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* やった日にちのみ白丸を追加 */
.streakDot.isActive {
  background-color: var(--color-bg-secondary);
}

.streakFireIcon {
  color: var(--color-primary);
}
