.streakCardLink:hover .streakCardDays{
  transform: scale(1.08);
  transition:.3s all ease;
}

.streakCard {
  width: 100%;
  border: 2px solid var(--color-border);
  margin-top: 20px;
  border-radius: 12px;
}

.streakCardDays {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 0;
  @media (max-width: 768px) {
    gap: 10px;
  }
}

.streakItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:3px;
  padding: 8px 12px;
}

/* 今日の日にち */
.streakItem.isToday {
  background-color: var(--color-primary);
  border-radius: 30px;
}

.streakDot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* やった日にちのみ白丸を追加 */
.streakDot.isActive {
  background-color:var(--color-bg-secondary);
}

.streakFireIcon {
  color: var(--color-primary);
}
