.wordCardWrapper {
  width: 100%;
}

.wordCardActions {
  position: absolute;
  top: 6px;
  right:12px;
  display: flex;
  gap:6px;
  align-items: center;
}

.wordCardActionButton {
  cursor: pointer;
  color: #888;
  font-size:24px;
  transition: all 0.2s ease;
}

.wordCardActionButton:hover{
  color: var(--color-primary);
}

.wordCard {
  border: 2px solid var(--color-border);
  border-radius: 16px;
  padding: 4px 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.isActive {
  color: var(--color-primary);
}

.isNotActive {
  color: #aaa;
}

/* 質問・答え */
.wordCardQuestion,
.wordCardAnswer {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--font-primary);
  padding: 24px 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wordCardAnswer {
  border-left: 2px dashed var(--color-border);
}

/* （もし使うなら）切り替えボタン */
.wordToggleButton {
  padding: 8px 16px;
  background: var(--color-primary);
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
