.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px 0;
  color: var(--color-font-primary);
  background-color: var(--color-primary);
  border-radius: 4px;
  box-shadow: 0 4px 0 color-mix(in srgb, var(--color-primary) 60%, black);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  background-color: var(--color-secondary);
  transition: all 0.3s ease;
  transform: translateY(2px);
  box-shadow: 0 1px 0 color-mix(in srgb, var(--color-primary) 60%, black);
}

.button:disabled {
  background-color: #ccc;          
  color: #666;                     
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  pointer-events: none;
}

.button:disabled:hover {
  background-color: #ccc;         
}

