.titleContainer{
  display: flex;
  align-items: center;
  height:60px;
  justify-content: flex-start;
  gap:8px;
  margin-top:10px;
}

.titleIconWrapper{
  width: 60px;
  height:60px;
  background-color: var(--color-bg-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleIcon{
  width:30px;
  height:30px;
  color: var(--color-primary);
}

.titleLabel{
  color:var(--color-font-secondary);
  font-size:15px;
}

.titleValue {
  font-size: 24px;
  font-family:var(--font-primary);
}
