.titleContainer{
  display: flex;
  align-items: flex-start;  
  justify-content: flex-start;
  gap:8px;
  margin-top:10px;
}

/* アイコン */
.titleIconWrapper{
  width: 48px;
  height:48px;
  background-color: var(--color-bg-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;          
}

.titleIcon{
  width:24px;               
  height:24px;
  color: var(--color-primary);
}

/* サブタイトル */
.titleLabel{
  color:var(--color-font-secondary);
  font-size:13px;          
  line-height: 1.2;
}

/* タイトル */
.titleValue {
  font-size: 22px;         
  font-family:var(--font-primary);
  line-height: 1.3;
  margin: 0; 
  @media(max-width:768px){
    font-size:18px;
    line-height: 1.2;
  }
}
