:root {
  --color-primary: #ffa94d;
  --color-secondary: #ff8c00;
  --color-bg-primary: #222222;
  --color-bg-secondary: #555555;
  --color-error: #ff7a7a;
  --color-success:#A3E635;
  

  --color-font-primary: #ffffff;
  --color-font-secondary: #aaaaaa;

  --color-border: #555555;

  --font-primary: var(--font-zenmaru);
  --font-secondary: var(--font-noto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --font-primary: var(--font-zenmaru);
  --font-secondary: var(--font-noto);

  font-family: var(--font-primary);
}


body {
  background: var(--color-bg-primary);
  color: var(--color-font-primary);
}

#mainContainer {
  width: calc(100% - 40px);
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  border: 2px solid var(--color-border);
  margin-top: 10px;
  padding: 4px;
  font-size: 16px;
}

option {
  background-color: var(--color-bg-primary);
  font-size: 16px;
  color: var(--color-font-primary);
}

option:hover {
  background-color: var(--color-bg-secondary);
}

input{
  border: none;
  outline: none;
  box-shadow: none;
}

/*  Autofill リセット */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-primary) inset;
  -webkit-text-fill-color: var(--color-font-primary);
  transition: background-color 9999s ease-out 0s;
}

