version: '3.9'

services:
  db:
    image: mysql:8.0
    container_name: memrise-mysql
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: backend_development
      TZ: Asia/Tokyo
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db-data:/var/lib/mysql

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: memrise-backend
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3001 -b 0.0.0.0"
    ports:
      - "3001:3001"
    depends_on:
      - db
    volumes:
      - .:/app
    environment:
      DB_HOST: db
      DB_USERNAME: root
      DB_PASSWORD: password
    env_file:
      - .env

volumes:
  db-data:
