.signupDescription{
  margin-bottom:15px;
  color: var(--color-font-secondary);
}

.signupContainer {
  width: 100%;
  margin: 20px auto;
}

.signupForm {
  width:100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.signupInputField {
  width:100%;
  padding: 10px;
  border: 2px solid var(--color-border);
  background: var(--color-bg-secondary);
  color: var(--color-font-primary);
  border-radius: 8px;
}

.signupSubmitBtn {
  all:unset;
}

.signupSuccess {
  color: var(--color-primary);
}

.signupError {
  color: var(--color-error);
}
