.footer {
  position: fixed;
  right:20px;
  bottom: 2px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 4px 0;
  border: #666 1px solid;
  border-radius: 52px;
  background-color: var(--color-bg-primary);
  z-index: 999;
  @media (max-width: 1200px) {
    gap: 50px;
  }
  @media (max-width: 768px) {
    gap: 30px;
  }
}

/* タブ要素 */
.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  text-decoration: none;
  color: var(--color-primary);
  padding: 4px 0;
  border-radius: 12px;
}

/* アイコン（共通） */
.footerIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}

/* ラベル（最初は非表示） */
.footerLabel {
  display: block;
  font-size: 12px;
}

/* active */
.footerItem.isActive .footerIcon {
  background-color: var(--color-primary);
  color: black;
  box-shadow: 0 2px 8px rgba(255, 152, 0, 0.18);
}
