.wordbooksList{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap:12px;
}

.wordbooksLink{
  width:100%;
  height:100%;
  padding:20px 60px 20px 40px;
  display:block;
  transition: all 0.3s ease;
  background-color: var(--color-bg-tertiary);
  border-radius:8px;
  position:relative;
  font-size:20px;
}

.wordbooksLink:hover {
  opacity:.8;
  transform: translateY(-2px);
}

.wordbooksArrow{
  font-size:32px;
  position: absolute;
  top:50%;
  right:20px;
  transform: translateY(-50%);
  color:var(--color-font-primary);
}

.wordbooksMeta{
  padding-top:20px;
  font-size:14px;
}