.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.reviewButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  border-radius: 6px;
  background-color: #3b82f6; /* 青 */
  color: var(--color-font-primary);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 4px 0 color-mix(in srgb, #3b82f6 60%, black);
  transition: all 0.2s ease;
  @media (max-width: 768px) {
    padding: 6px 8px;
    font-size: 12px;
  }
}

.reviewButton:hover {
  background-color: #2563eb; /* 濃い青 */
  transform: translateY(2px);
  box-shadow: 0 1px 0 color-mix(in srgb, #3b82f6 60%, black);
}


.dairyWordContainer{
  position: relative;
  border:2px solid var(--color-border);
  border-radius:12px;
  padding:30px 20px;
  margin-top:20px;
}

.dairyWord{
  font-size:30px;
  text-align: center;
}

.dairyPronunciation{
  position:absolute;
  display:flex;
  align-items: center;
  gap:8px;
  bottom:4px;
  right:4px;
}

.dairyPronunciationIcon{
  width:28px;
  height:28px;
}

.dairyPronunciationIcon:hover{
  color:var(--color-primary);
}

