.listButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
}


.listContainer{
  width:100%;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.listItem {
  border: 2px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  border-radius:6px;
}

.listQuestion,
.listAnswer{
  flex:1;
  min-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:12px;
}

.listQuestion {
  border-right: 2px dashed var(--color-border);
}

.listAnswer {
}
