.description {
  color: #ccc;
  margin: 10px 0;
}

.viewDescription {
  font-size: 18px;
  font-family: var(--font-primary);
  margin-top: 12px;
}

.viewLevelSelection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.viewOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.viewOptionLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-decoration: none;
  width: 100%;
}

/* 縦ライン */
.viewOption + .viewOption::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  transform: translateX(-50%);
  height: 10px;
  width: 2px;
  background-color: var(--color-border);
}

.viewOption.lineActive + .viewOption::after {
  background-color: var(--color-primary);
}

/* 共通：番号 */
.viewOptionNum {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  font-weight: bold;
  background-color: #fff;
}

.unlockedNum {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.completedNum {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #fff;
}

/* タイトル */
.viewOptionTitle {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  color: #bbb;
}

.lockIcon {
  font-size: 16px;
  color: #bbb;
}

/* ★ 完了済みタイトルを少し強調 */
.completedNum + .viewOptionTitle {
  color: var(--color-font-primary);
  font-weight: 600;
}

/* unlocked（リンク状態） */
.viewOptionLink:hover .viewOptionTitle {
  color: var(--color-font-primary);
  transition: all .2s ease;
}

.viewOptionLink.locked:hover  .viewOptionTitle{
  color: #bbb;
}

/* ロック状態 */
.locked .viewOptionNum {
  background-color: #f5f5f5;
  border-color: #ddd;
  color: #bbb;
  opacity: 0.7;
}

/* 一覧アイコン */
.viewListIcon {
  margin-left: auto;
  color: var(--color-primary);
}

.viewListIcon {
  font-size: 18px;
  transition: color 0.2s ease;
}

/* 完了済み */
.listCompleted {
  color: var(--color-primary);
}

/* ロック中 */
.listLocked {
  color: #ccc;
}
