.progressWrapper {
  margin: 12px 0 20px;
}

.progressInfo {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #ddd;
  margin-bottom: 6px;
}

/* progress本体 */
.progressBar {
  width: 100%;
  height: 8px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 999px;
  overflow: hidden;
  background: #333;
}

/* Chrome / Edge / Safari: 背景 */
.progressBar::-webkit-progress-bar {
  background-color: #333;
  border-radius: 999px;
}

/* Chrome / Edge / Safari: 塗り */
.progressBar::-webkit-progress-value {
  background: linear-gradient(90deg, #ff9f43, #ff6b6b);
  border-radius: 999px;
  transition: width 0.3s ease;
}

/* Firefox: 塗り */
.progressBar::-moz-progress-bar {
  background: linear-gradient(90deg, #ff9f43, #ff6b6b);
  border-radius: 999px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.judgeButtons {
  display: flex;
  gap: 12px;
}

.resultCard {
  margin-top: 16px;
}

.wrongList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resultActions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

/* 正解 */
.correctButton {
  background-color: #4caf50 ; /* 緑 */
  box-shadow: 0 4px 0 color-mix(in srgb, #4caf50 60%, black);
}

.correctButton:hover {
  background-color: #43a047;
  transition: all 0.3s ease;
  transform: translateY(2px);
  box-shadow: 0 1px 0 color-mix(in srgb, #4caf50 60%, black);
}

/* 不正解 */
.wrongButton {
  background-color: #f44336; /* 赤 */
  box-shadow: 0 4px 0 color-mix(in srgb, #f44336 60%, black);
}

.wrongButton:hover {
  background-color: #e53935;
  transition: all 0.3s ease;
  transform: translateY(2px);
  box-shadow: 0 1px 0 color-mix(in srgb, #f44336 60%, black);
}
