.floatingGroup {
  position: relative;
  width: 100%;
  margin-bottom:20px;
}

.floatingInput {
  width: 100%;
  padding: 14px 10px 6px;
  font-size: 16px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
  background: var(--color-bg-primary);
  color: var(--color-font-primary);
  transition: border-color 0.2s ease;
}

.floatingInput:focus{
  border-color: #fff;
}

.floatingInputLabel {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--color-font-secondary);
  transition: 0.2s ease all;
  pointer-events: none;
}

.floatingInput:focus + .floatingInputLabel,
.floatingInput:not(:placeholder-shown) + .floatingInputLabel {
  top: 0;
  transform: translateY(-50%);
  left:10px;
  font-size: 15px;
  color: var(--color-primary);
  width:max-content;
  background-color: var(--color-bg-primary);
  padding:0 4px;
}

.floatingInputError {
  border-color: var(--color-error);
}

.floatingInputErrorMessage {
  color: var(--color-error);
  font-size: 14px;
  position: absolute;
  top:45px;
}

